                                                    /* Instagram Gallery */

  
                                                    body::-webkit-scrollbar {
                                                        width: 1em;
                                                        height: 2em;
                                                      }
                                                       
                                                      body::-webkit-scrollbar-track {
                                                        box-shadow: inset 0 0 6px rgb(165, 75, 75);
                                                      }
                                                       
                                                      body::-webkit-scrollbar-thumb {
                                                        background-color: rgba(219, 70, 11, 0.747);
                                                        outline: 1px solid rgb(185, 16, 16);
                                                      }
  

  .icon{
    text-align: center;
    padding: 10px 10px;
    margin-right: 3%;
    margin-top: 3%;
    }



  .malogo{
    text-align: left;
    width: 195px;
    margin-left: 3%;
    padding: 5px 5px;
    

        
}

h2{
    text-align: center;
    color: bisque;
}

h3{
    text-align: center;
    color: bisque;
}



.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 2rem;
    
    margin-top:3%;
    margin-left:3%;
    margin-right:3%;
}


.gallery img{
 height:100vh;
 width:100vw;
object-fit:cover;
    }




.selfport:hover{
    border: 3px solid rgb(128, 77, 77)
}

.evergreen:hover{
    border: 3px solid rgb(7, 73, 29)
}

.blackb:hover{
    border: 3px solid rgb(126, 32, 126)
}

.orange:hover{
    border: 3px solid rgb(196, 92, 8)
}

.pause:hover{
    border: 3px solid rgb(165, 24, 24)
}

.spring:hover{
    border: 3px solid rgb(7, 97, 52)
}

.yabt:hover{
    border: 3px solid rgb(226, 71, 71)
}

.mild:hover{
    border: 3px solid rgb(105, 20, 126)
}

.rough:hover{
    border: 3px solid rgb(35, 68, 105)
}

.stillife:hover{
    border: 3px solid rgb(145, 19, 19)
}

