
h1{
    color:#fdfdfd;

        font-size:60px;
        text-align:center;
        font-family: 'PaintyPaint';
        font-weight:normal;
        font-style:normal;
        text-shadow: 10px 5px #312006;
        
    

}

h1:hover {
    background-color: rgb(95, 4, 4);
    block-size: 50px;
  }

h2{
    color:#681010;

    font-size:1402px;
        text-align:center;
        font-family: 'PaintyPaint';
        font-weight:normal;
        font-style:normal;
}
    
.fontface{
    font-family: 'PaintyPaint';
    font-weight:normal;
        font-style:normal;
        text-shadow: 10px 5px #312006;
}

h3{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1 ;
    margin-top: 0.2%;
    margin-left: 1px;
    color:blanchedalmond;
    
  
}


body {
        background-image: url("/images/eye.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        /* background-size: cover; */
        max-height: 100vh;
        
        


}




.grid {
display: grid;
grid-template: 15% 15% 15% 15% 15% 15% / 20% 20% 20% 20% 20%;
    height: 100vh;
    width: 100%;
    grid-gap: 2px;
}

.malogo{
   text-align: left;
   width: 195px;
    margin-top: 3%;
    margin-left: 4%;
    padding: 5%;
}


.com{
    grid-column: 3 / span 1;
    grid-row: 2 / span 1 ;
    
}

.com:hover{

}

.port{
    grid-column: 4 / span 1;
    grid-row: 4 / span 2 ;
    
}

.soc{
    grid-column: 2 / span 1;
    grid-row: 4 / span 2;
    
    
}

.bas{
    grid-column: 3 / span 1;
    grid-row: 5 / span 1;
    
}

.about{
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
    
}

.con{
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}




p{
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    padding: 10px 10px;

}


.grid2{
    display: grid;
    height: 250px;
    width: 100vw;


    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 250px 250 px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;


   
      
     
      }
    .grid2 img{
        height:100%;
        width:100%;
        object-fit:cover;
    }


.form-group{
    text-align: center;
}



  

  
  
footer{
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
    background-color: none;
    grid-column: 5 / span ;
    grid-row: 4 / span ;

}