h1{
    color:rgb(117, 19, 19);

        font-size:45px;
        text-align:justify;
        font-family: 'PaintyPaint';
        font-weight:normal;
        font-style:normal;
    

}

head{
    background: url("images/eye.jpg");
    height:100vh
}


      body {
        background-image: url("images/eye.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: 100% 100%;
      }
      
